.landScapeContainer {
  height: 22vh;
  width: 37vh;
  /* border:1px solid orange; */
  border-radius: 5px;
  margin: 0.5%;
}

@media screen and (min-width: 320px) and (max-width: 780px) {
  .landScapeContainer {
    height: 18vh;
    width: 40vw;
    margin: auto;
    /* border:1px solid orange; */
    border-radius: 10px;
    /* margin: 1%; */
  }
}
