.modalBar {
  position: absolute;
  top: 50%;
  transform: translate(-65%, 10%);
  height: 65vh;
  width: 40vw;
  background-color: #111a2b;
  border-radius: 10px;
  z-index: 2000;
}
.cancelImage {
  padding: 2%;
  text-align: right;
}
.modalText {
  margin: 6%;
  padding: 2%;
}
.modalSign {
  margin: 4% 3%;
  padding: 2%;
  background-color: #192a4b;
  color: rgb(92, 92, 243);
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
  border: 2px solid darkblue;
}
.link {
  text-decoration: none;
}
.modalSign2 {
  margin: 4% auto;
  padding: 2%;
  font-size: 20px;
  width: 30%;
  background-color: #192a4b;
  color: rgb(92, 92, 243);
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
  border: 2px solid darkblue;
}
.modalOption {
  text-align: center;
  padding: 2%;
}
.imagesState {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.btn {
  position: relative;
  left: 25%;
  color: white;
  padding: 3%;
  margin: 5% 0%;
  letter-spacing: 1px;
  width: 50%;
  font-weight: 600;
  font-size: 17px;
  background-color: rgb(65, 65, 253);
  border-radius: 10px;
  border-style: none;
}
.btn:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
.btn:hover {
  cursor: pointer;
}
.modalSign:hover {
  cursor: pointer;
}
.modalPhone input {
  background-color: #111a2b;
  width: 75%;
  border: none;
  font-size: 20px;
  margin: 3% 4%;
  color: white;
  outline: none;
}
.modalOtp input {
  background-color: #111a2b;
  width: 7%;
  border: none;
  font-size: 20px;
  margin: 3% 4%;
  text-align: center;
  color: white;
  outline: none;
  border-bottom: 1px solid gray;
}
.modalOtp input:focus {
  border-bottom: 1px solid rgb(38, 38, 241);
}
.modalPhone input::-webkit-inner-spin-button {
  display: none;
}

.modalPhone {
  text-align: center;
  border-bottom: 1px solid rgb(92, 92, 243);
  margin: 5% 2%;
}
.description {
  font-size: 12px;
  text-align: center;
}
.description span {
  font-size: 13px;
  color: rgb(65, 65, 253);
}
.recapta {
  display: none;
}
.welcome {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  margin: 3%;
  padding: 3%;
}
.phone {
  text-align: center;
  margin: 3%;
  /* padding: 2%; */
  font-size: 35px;
  font-weight: 800;
}
.email {
  text-align: center;
  margin: 3%;
  /* padding: 2%; */
  font-size: 20px;
  font-weight: 800;
}
.profileImage img {
  position: relative;
  margin: 0;
  left: 40%;
  height: 40vh;
  border-radius: 100%;
}
.errBlock {
  text-align: center;
  font-size: 15px;
  color: red;
  /* font-weight: 500; */
}
@media screen and (min-width: 320px) and (max-width: 780px) {
  .modalBar {
    top: 0;
    left: 0;
    transform: translate(0);
    height: 100vh;
    width: 100vw;
  }
  .modalPhone Input {
    width: 50%;
    font-size: 13px;
  }
  .modalPhone span {
    font-size: 12px;
  }
  .profileImage img {
    position: relative;
    margin: 0;
    left: 20%;
    height: 40vh;
    border-radius: 100%;
  }
}
