.modalBar {
  position: fixed;
  top: 10%;
  /* position: absolute;
    top: 50%; */
  transform: translate(-65%, 10%);
  height: 65vh;
  width: 40vw;
  background-color: #111a2b;
  border-radius: 10px;
  z-index: 5;
}
@media screen and (min-width: 320px) and (max-width: 780px) {
  .modalBar {
    top: 0;
    left: 0;
    transform: translate(0);
    height: 100vh;
    width: 100vw;
  }
}
