.im {
  height: 22vh;
  width: 37vh;
  border-radius: 5px;
  transition: transform 0.2s;
}
.im:hover {
  cursor: pointer;
  transform: scale(1.3);
  box-shadow: 4px 4px 10px black;
}

.hiddenInfo {
  display: none;
  background-color: black;
  border-radius: 8px;
  opacity: 0.8;
  color: white;
}
.SingleBox:hover .hiddenInfo {
  display: block;
  cursor: pointer;
  position: relative;
  bottom: 90px;
  transform: scale(1.3);
  text-align: left;
  left: 0;
}
.SingleBox:hover .im {
  transform: scale(1.3);
}
.Explane {
  font-size: 11px;
  overflow: hidden;
  max-height: 7vh;
  max-width: 17vw;
  margin: 1%;
}
.link {
  text-decoration: none;
  color: white;
}
/* .watchlist {
  font-size: 13px;
  padding: 3%;
  color: white;
  text-align: center;
} */
.watchlist {
  margin: 10%;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 700;
  padding: 3%;
  color: black;
  width: 70%;
  text-align: center;
  background-color: white;
}
.Title {
  font-weight: 700;
  font-size: 13px;
  padding: 2%;
}
.watchlist:hover {
  font-weight: 600;
  background-color: rgba(185, 176, 176, 0.443);
}

@media screen and (min-width: 320px) and (max-width: 780px) {
  .im:hover {
    transform: scale(1);
  }
  .im {
    height: 18vh;
    width: 40vw;
    margin: auto;
    border-radius: 10px;
  }
  .hiddenInfo {
    width: 33vw;
    left: 10px;
  }
  .watchlist {
    font-size: 10px;
  }

  .SingleBox:hover .hiddenInfo {
    bottom: 60px;
    text-align: center;
    left: 10px;
  }
  .SingleBox:hover .Explane {
    display: none;
  }
  .SingleBox:hover .im {
    transform: scale(1);
  }
}
