.SingleBox,
.im {
  height: 100vh;
  width: inherit;
  padding: 0;
  margin: 0%;
  overflow-y: hidden;
}

.watchBtn {
  font-size: 30px;
  font-weight: 600;
  position: relative;
  bottom: 10vh;
  left: 5vw;
  color: white;
  border-style: none;
  background: none;
}
