.pageName {
  font-size: 20px;
  font-weight: 600;
  margin-left: 3%;
  margin-top: 2%;
}
.link {
  text-decoration: none;
  color: white;
}
.containerList {
  padding-left: 2%;
  margin-left: 0%;
  margin-top: 2%;
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.empty {
  position: absolute;
  left: 30%;
  font-size: 20px;
  color: white;
  margin: 10%;
}
@media screen and (min-width: 320px) and (max-width: 780px) {
  .containerList {
    padding-left: 0%;
    grid-template-columns: 1fr 1fr;
  }
  .empty {
    left: 0%;
  }
}
