.batImg {
  height: 30vh;
  width: 11vw;
  border-radius: 10px;
  padding-top: 3%;
  transition: transform 0.2s;
  margin-top: 14%;
  z-index: 0;
}
.hiddenInfo {
  display: none;
  background-color: black;
  opacity: 0.8;
  border-radius: 6px;
  padding: 1%;
  color: white;
}
.link {
  text-decoration: none;
  color: white;
}
.SingleBox:hover .hiddenInfo {
  display: block;
  cursor: pointer;
  position: relative;
  transform: scale(1.3);
  bottom: 150px;
  text-align: left;
  left: 0;
}

.SingleBox:hover .batImg {
  transform: scale(1.3);
  box-shadow: 4px 4px 10px black;
}
.Explane {
  margin: 2%;
  font-size: 11px;
  overflow: hidden;
  height: 10vh;
  width: 10vw;
}
.watchlist {
  margin: 10%;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 700;
  padding: 3%;
  color: black;
  width: 70%;
  text-align: center;
  background-color: white;
}
.Title {
  margin: 2%;
  font-size: 13px;
  padding: 2%;
  font-weight: 700;
}
.Genre {
  font-size: 10px;
  padding: 1%;
  margin: 2%;
}
.watchlist:hover {
  transform: scale(1.075);
}
.batImg:hover {
  cursor: pointer;
  z-index: 10;
  transform: scale(1.3);
  box-shadow: 4px 4px 10px black;
  /* transform: scaleZ(1.3); */
}

@media screen and (min-width: 320px) and (max-width: 780px) {
  .batImg {
    width: 30vw;
    height: 30vh;
  }
  .batImg:hover {
    transform: scale(1);
  }
  .hiddenInfo {
    width: 25vw;
    border-radius: 5px;
  }
  .watchlist {
    font-size: 10px;
  }
  .SingleBox:hover .Explane {
    display: none;
    transform: scale(1);
  }
  .SingleBox:hover .hiddenInfo {
    bottom: 90px;
    text-align: center;
    left: 10px;
  }
  .SingleBox:hover .batImg {
    transform: scale(1);
  }
}
