.img {
  height: 67vh;
  width: 60vw;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 0;
}
.layout {
  display: flex;
  justify-content: space-between;
}
.titleHead {
  margin: 5% 0% 0% 5%;
}
.title {
  font-weight: 900;
  font-size: 34px;
}
.genre {
  margin-top: 5%;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.555);
}
.description {
  overflow: hidden;
  width: 24vw;
  max-height: 9vh;
  margin-top: 5%;
  font-size: 14px;
}
@media screen and (min-width: 320px) and (max-width: 780px) {
  .titleHead {
    display: none;
  }
  .img {
    width: 100vw;
    height: 40vh;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}
